<%- include('../partials/header') %> 
<%- include('../partials/navbar') %>

<div class="container" style="margin: 5px auto;">

<section>
    Edit blog
</section>

<div>
    <form action="/blogs/<%= blog._id %>?_method=PATCH " method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Title</label>
          <input type="text" class="form-control" name="blog[title]" id="exampleInputEmail1" aria-describedby="titlelHelp" value="<%= blog.title %>">
          <div id="titleHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Author</label>
            <input type="text" class="form-control" name="blog[author]" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%= blog.author %>">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Image URL</label>
            <input type="text" class="form-control" name="blog[img]" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%= blog.img %>">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Content</label>
            <input type="text" class="form-control" name="blog[content]" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%= blog.content %>">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
</div>

</div>



<%- include('../partials/footer') %>