<%- include('../partials/header') %> 
<%- include('../partials/navbar') %> 
    

<div class="container" style="margin: 5px auto;">

    <h1>Blogs</h1>
    <%- include('../partials/flash')  %>
        <div class="row">
        <%for(let blog of blogs){  %>
            <div>

                <img src="<%=blog.img%> " class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%= blog.title %> </h5>
                        <h6 class="card-subtitle mb-2 text-muted"><%= blog.author %> </h6>
                        <p class="card-text"><%= blog.content.substring(0, 200) %> </p>
                        <a href="/blogs/<%= blog._id %> " class="btn btn-primary">Read More</a>
                    </div>
                    
            </div>
        <% } %> 
    </div>
</div>



<%- include('../partials/footer') %> 